<form action="." method="post" >
    {% csrf_token %}
    Student Name: <input type="text" name="student_name"><br>
    Username: <input type="text" name="username"><br>
    Password: <input type="text" name="password"><br>
    Student Email: <input type="email" name="student_email"><br>
    Student Father Name: <input type="text" name="student_father_name"><br>
    Student Mother Name: <input type="text" name="student_mother_name"><br>
    Student Mobile Number: <input type="text" name="student_mobile"><br>
    Student Profile Photo: <input type="file" name="student_profile_photo"><br>
    <select name="dept">
        <option value="Mechanical">Mechanical</option>
        <option value="Civil">Civil</option>
        <option value="ECE">ECE</option>
        <option value="EEE">EEE</option>
        <option value="CSE">CSE</option>
    </select>
    <input type="submit" value="Register">
</form>